<header role="banner">
  <div class="logo-container">
    <h2 class="logo-wrapper">
      <a  id="logo" href="{{site.github.url}}/" aria-label="Gå til forsiden">Historisk Samfund for Århus Stift</a>
    </h2>
  </div>
  <div class="menu-container">
    <nav class="menu-wrapper" role="navigation">
      <ul id="scroll-menu">
        <li><a href="{{site.github.url}}/foreningen">Foreningen</a></li>
        <li><a href="{{site.github.url}}/arrangementer">Arrangementer</a></li>
        <li><a href="{{site.github.url}}/udgivelser">Udgivelser</a></li>
        <li><a href="{{site.github.url}}/artikler">Online artikler</a></li>
        <li><a href="{{site.github.url}}/bliv-medlem">Bliv medlem</a></li>
        <li><a href="{{site.github.url}}/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
