<header role="banner">
  <div class="logo-container">
    <h2 class="logo-wrapper">
      <a id="logo" href="/" aria-label="Gå til forsiden">Historisk Samfund for Århus Stift</a>
    </h2>
  </div>
  <div class="menu-container">
    <nav class="menu-wrapper" role="navigation">
      <ul id="scroll-menu">
        <li><a id="first-menu-link" href="/foreningen">Foreningen</a></li>
        <li><a href="/arrangementer">Arrangementer</a></li>
        <li><a href="/aarboeger">Årbøger</a></li>
        <li><a href="/artikler">Artikelbasen</a></li>
        <li><a id="last-menu-link" href="/bliv-medlem">Bliv medlem</a></li>
      </ul>
    </nav>
  </div>
</header>
