/* basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: 1.1em;
    font-family: Helvetica, 'Segoe UI', Arial sans-serif;
}
a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul, ol {
    list-style-type: none;
    margin-left: 0;
}
p {
    margin-bottom: 1em;
}
h1 {
    font-size: 150%;
    font-weight: normal;
    padding-bottom: .2em;
    padding-top: .15em;
    border-bottom: 1px solid #a5a5a5;
    margin-bottom: .3em;
}
h2 {
    font-weight: normal;
    padding-bottom: .25em;
    padding-top: .25em;
    margin-bottom: .25em;
}
h3 {
    padding-bottom: .15em;
    padding-top: .1em;
    border-bottom: 1px solid #a5a5a5;
    margin-bottom: .2em;  
}

/*******************/
/* FLEX AND COLOR CONTAINERS */
/*******************/
header {
    flex-grow: 0;
    flex-shrink: 0;
}
/* header has two color-containers */
.logo-container {
    background-color: #096792;
}
#logo {
    font-size: 115%;
    padding-top: .15em;  /* used to override generic a-padding */
    padding-bottom: .15em;  /* used to override generic a-padding */
}
.menu-container {
    background-color: #d4d4d4;
}
main {
    flex-grow: 1;
}
footer {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #efefef;
}

/**********************/
/* CENTERING CONTAINERS */
/**********************/
.logo-wrapper, .menu-wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
.logo-wrapper {
    /* menu-wrapper handles padding in listitems */
    padding-left: 1rem;
    padding-right: 1rem;
}
.page-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.8em;
}
.page-footer {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: .9em;
}

/**********/
/* HEADER */
/**********/
header a,
header a:visited {
    color: white;
}
header a:hover {
    text-decoration: none;
}

.menu-container a,
.menu-container a:visited {
    color: #454545;
}
.menu-container.gradient-menu {
    background-color: unset; /* shouldn't be necessary */
    background-image: linear-gradient(to left, #fbfbfb, #d4d4d4 20%);
    box-shadow: inset -8px 0 10px -8px #666;
}
.menu-container.gradient-menu li:last-of-type {
    margin-right: 3rem;
}

/********/
/* Logo */
/********/
#logo {
    display: block;
    font-weight: 400;
    font-size: .9em;
}
@media screen and (min-width: 500px) {
    #logo {
        font-size: 1em;
    }
}
@media screen and (min-width: 600px) {
    #logo {
        font-size: 1.1em;
    }
}
@media screen and (min-width: 700px) {
    #logo {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 800px) {
    #logo {
        font-size: 1.3em;
    }
}
@media screen and (min-width: 900px) {
    #logo {
        font-size: 1.4em;
    }
}
@media screen and (min-width: 1000px) {
    #logo {
        font-size: 1.5em;
    }
}

/***************/
/* SCROLL-MENU */
/***************/
#scroll-menu {
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* https://blog.logrocket.com/hide-scrollbar-without-impacting-scrolling-css/ */
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#scroll-menu::-webkit-scrollbar {
    display: none;
}
#scroll-menu li {
    display: inline-block;

}
#scroll-menu li:hover {
    transition: 0.3s ease;
    background-color: #b4b4b4;
}
#scroll-menu li a {
    display: inline-block;
    padding: .6rem;
}
#scroll-menu li a#first-menu-link {
    padding-left: 1em;
}

/**********/
/* Footer */
/**********/
.page-footer a {
    padding-top: .8em;
    padding-bottom: .8em;
}
@media (max-width: 640px) {
    /* footer */
    .page-footer,
    .page-footer a {
        display: block;
    }
}

/* https://web.dev/accessible-tap-targets/ */
@media (any-pointer: coarse) {
    a {
        padding-top: .8em;
        padding-bottom: .8em;
    }
}

/*****************/
/* Searchresults */
/*****************/
#searchform {
    display: flex;
    flex-wrap: nowrap;
    margin: 1.5em 0;
    /* height: 1.2em; */
}
#searchform input[type="search"] {
    flex-grow: 1;
    padding: 0 8px;
    vertical-align: middle;
    border-radius: 3px;
    width: 100%;
    min-height: 36px;
    background-color: #ffffff;
    border: 1px solid rgba(36,28,21,0.3);
    transition: all 0.2s ease-in-out 0s;
    font-size: 1em;
    line-height: 18px;
    /* font-weight: normal; */
    :focus{
        outline: none;
        border: 1px solid #007c89;
        box-shadow: inset 0 0 0 1px #007c89;
    }

    /* appearance: searchfield; */
    /* height: 2.5em; */
    /* padding: .2em; */
    /* outline: 0; */
    /* box-shadow: none; */
}
#searchform button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 0px 16px;
    border-radius: 3px;
    min-width: 80px;
    min-height: 36px;
    margin-left: .5em;
    background-color: rgb(0, 120, 212);
    color: rgb(255, 255, 255);
    font-size: 1em;
    /* font-weight: 400; */
    /* box-sizing: border-box; */
    border: 1px solid rgb(0, 120, 212);
    :hover {
        background-color: rgb(16, 110, 190);
        border: 1px solid rgb(16, 110, 190);
    }
}
.results-header {
    display: flex;
    justify-content: space-between;
}
.results-sort-container {
    display: block;
    margin-bottom: .2em;
    padding-bottom: .2em;
}
.results-sort-container summary {
    line-height: 1rem;
    list-style-type: none;
    cursor: pointer;
    /* transition: color var(--transition); */
}

.result-item {
    padding: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
    border: solid 1px #fbfbfb;
    font-size: 90%;
}
.result-item-title {
    line-height: 1.4;
    padding-bottom: .5em;
}
.result-item-text {
    line-height: 1.4;
    font-style: italic;
}
.result-item-data {
    font-size: 95%;
    color: #444;
    line-height: 1.8em;
    padding-bottom: .7em;
    border-bottom: 1px solid lightgrey;
    margin-bottom: .5em;
}
.result-item-data .key {
    display: inline-block;
    font-weight: bold;
    min-width: 5em;
}
