<!DOCTYPE html>
<html lang="da">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main aria-label="Content">
      <div class="page-content">
        {%- if page.title -%}
          <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
      // const lastMenuitem = document.querySelector("#scroll-menu li:last-of-type");
      const scrollMenu = document.querySelector("#scroll-menu");
      const menuContainer = document.querySelector(".menu-container");

      function windowResize() {
        if (scrollMenu.scrollWidth > scrollMenu.clientWidth) {
          menuContainer.classList.add("gradient-menu");
          // lastMenuitem.classList.add("gradient-padded");
        } else {
          menuContainer.classList.remove("gradient-menu");
          // lastMenuitem.classList.remove("gradient-padded");
        }
      }
      window.onload = windowResize;
      window.onresize = windowResize;
    </script>
    <script src="{{ 'assets/new_script.js' | relative_url }}"></script>

  </body>

</html>
